<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <style>
    .a{width:100px;height:100px;
      background: blue;
      border-radius: 50%;
      position:absolute;
      top: 100px;
      left:900px;
      transition: all 3s linear;
      }
  </style>
  <body>
    <div id="app">
      <input type="button" @click="showBall" value="click"></input></br>
        <!--<transition-group
           v-on:before-enter="beforeEnter"
          v-on:enter="enter"
          v-on:after-enter="afterEnter"
          v-on:enter-cancelled="enterCancelled"
          v-on:before-leave="beforeLeave"
          v-on:leave="leave"
          v-on:after-leave="afterLeave"
          v-on:leave-cancelled="leaveCancelled"
          name="listnimei"
          tag="div"
          >
          <div v-for="(ball,index) in balls" class="a" :key = "index" v-show="ball.show" ref="ball"></div>
        </transition-group>-->
        
        <transition v-for="(ball,index) in balls"   :key = "index" 
           v-on:before-enter="beforeEnter"
          v-on:enter="enter"
          v-on:after-enter="afterEnter"
          v-on:enter-cancelled="enterCancelled"
          v-on:before-leave="beforeLeave"
          v-on:leave="leave"
          v-on:after-leave="afterLeave"
          v-on:leave-cancelled="leaveCancelled"
          >
          <div class="a"  v-show="ball.show" ref="ball"></div>
        </transition>
    </div>
  </body>
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
  <script>
    var vm = new Vue({
      el:"#app",
      computed:{
       
      },
      data: {
            balls:[
              {show:false},
              {show:false},
              {show:false},
              {show:false},
              {show:false}
            ]
          },
      methods:{
        showBall(){
          for(let i =0;i<this.balls.length;i++){
            if(!this.balls[i].show){
              this.balls[i].show = true;
              this.$refs.ball[i].style.left = 200+"px";
              this.$refs.ball[i].style.top = 200+"px"
              setTimeout(()=>{
                this.balls[i].show = false;
              },3000);
              break;
            }
          }
          console.log(this.balls.map(v=>v.show));
        },
        beforeEnter: function (el) {
           
          console.log("beforeEnter")
        },
        // 当与 CSS 结合使用时
        // 回调函数 done 是可选的
        enter: function (el, done) {
          el.offsetHeight
          setTimeout(()=>{
            el.style.top = 600+"px"
            el.style.left = 600+"px";
          },0);
          console.log("enter")
          done();
        },
        afterEnter: function (el) {
          console.log("afterEnter")
        },
        enterCancelled: function (el) {
          console.log("enterCancelled")
        },
        beforeLeave: function (el) {
          console.log("beforeLeave")
        },
        // 当与 CSS 结合使用时
        // 回调函数 done 是可选的
        leave: function (el, done) {
          console.log("leave")
          done();
        },
        afterLeave: function (el) {
         console.log("afterLeave")
        },
        // leaveCancelled 只用于 v-show 中
        leaveCancelled: function (el) {
          console.log("leaveCancelled")
        }
      },
    });
  </script>
</html>
